#container {
    background-color: rgb(200, 126, 28);
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap:wrap;
    justify-content: flex-start;
    justify-content: space-between;
    }

.box {
    background-color: rgb(13, 238, 186);
    width: 100px;
    height: 100px;
}

.ml-auto {
    margin: 0 0 0 auto;
}